<a href="https://colab.research.google.com/github/ESBA601/basico_python/blob/main/basico_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
# extraer informacion de una variable

import pandas as pd

cuenta = pd.read_excel("CUENTA.xlsx")

CuentaNueva = cuenta['CUENTA_CONTABLE'].astype("string").str[3:5]

print(CuentaNueva)

0     05
1     08
2     15
3     15
4     18
5     18
6     18
7     18
8     22
9     31
10    35
11    36
12    37
13    38
14    02
15    02
16    02
17    02
18    02
19    02
20    02
21    02
22    02
23    02
24    04
25    22
26    33
27    11
28    02
29    02
30    05
31    03
32    03
33    33
34    04
35    37
36    35
37    36
38    37
39    38
Name: CUENTA_CONTABLE, dtype: string

In [8]:
# filtrar columnas

import pandas as pd

tecno = pd.read_excel("tecno.xlsx")

df_begin = tecno['Brand'].count()

print(df_begin)

df_filtered = tecno[tecno['Brand']!='Sony']

df_filtered = df_filtered['Brand'].count()

print(df_filtered)

30
27

In [33]:
# funciones que me ayudaro a obtener informacion de un df

#CuentaNueva.head() ## busca los nombres de los titulos

#print(CuentaNueva.name) ## imprime los nombres de los titulos

#print(CuentaNueva.values)

#CuentaNueva.columns

#CuentaNueva.tail()

#CuentaNueva.shape

Index(['Brand', 'Device', 'Model', 'Country_Origin', 'Date_Release',
       'Price_USD'],
      dtype='object')

In [ ]:
# para envio de infromacion a excel

#df.to_excel("df.xlsx")

#from google.colab import files

#files.download("df.xlsx")

In [29]:
import os

#os.getcwd() ## donde esta la direccion

#os.listdir() ## archivos que se encuentra en la carpeta

#os.listdir('/content') ## archivos que se encuentra en la carpeta colocando la ruta

['.config',
 'tecno1.xlsx',
 'CUENTA.xlsx',
 'tecno.xlsx',
 'tecno2.xlsx',
 'sample_data']

In [18]:
# esto es para concatenar las columnas

tecno1 = pd.read_excel("tecno1.xlsx")

tecno2 = pd.read_excel("tecno2.xlsx")

tecnofinal = pd.concat([tecno2,tecno1], sort=True)

print(tecnofinal)

#tecnofinal = pd.concat([tecno2,tecno1], axis=0, join='outer', ignore_index=False, keys=None, sort=False)

#print(tecnofinal)

        Brand Country_Origin Date_Release       Device       Model  Price_USD
0       Apple  United States   2021-09-24       iPhone  13 Pro Max       1099
1     Samsung    South Korea   2021-01-29       Galaxy   S21 Ultra       1199
2      Google  United States   2021-10-19        Pixel       6 Pro        899
3        Sony          Japan   2020-11-12  PlayStation           5        499
4   Microsoft  United States   2021-04-15      Surface    Laptop 4        999
..        ...            ...          ...          ...         ...        ...
25       Dell          China   2020-12-25   UltraSharp      U2720Q        499
26         HP  United States   2021-06-28        Elite   Dragonfly       1799
27     Lenovo          China   2021-04-05       Legion          7i       1499
28       Asus         Taiwan   2021-03-20          TUF  Gaming A15       1199
29       Acer         Taiwan   2021-01-30       Aspire           5        599

[120 rows x 6 columns]

In [ ]:
# eliminar duplicados de una variable

SinDuplicados = CuentaNueva.drop_duplicates()

print(SinDuplicados)

0     05
1     08
2     15
4     18
8     22
9     31
10    35
11    36
12    37
13    38
14    02
24    04
26    33
27    11
31    03
Name: CUENTA_CONTABLE, dtype: string