<a href="https://colab.research.google.com/github/ESBA601/basico_python/blob/main/bucles_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# creacion de data frame

import pandas as pd

df1_3 = pd.DataFrame()
df1_0 = pd.DataFrame()
df1_1 = pd.DataFrame()
df1_2 = pd.DataFrame()

nombres3 = ['Laly', 'Tika', 'Popi']
nombres0 = ['Maria', 'Laura', 'Camila']
nombres2 = ['Anita', 'Junito', 'Pedrito']
nombres1 = ['Jose', 'Ramon', 'Leo']
edades = [42, 40, 37]

df1_0['Nombre'] = nombres0
df1_1['Nombre'] = nombres1
df1_2['Nombre'] = nombres2
df1_3['Nombre'] = nombres3

df1_3['Edad'] = edades
df1_2['Edad'] = edades
df1_1['Edad'] = edades
df1_0['Edad'] = edades


print(df1_3)
print(df1_0)
print(df1_2)
print(df1_1)

  Nombre  Edad
0   Laly    42
1   Tika    40
2   Popi    37
   Nombre  Edad
0   Maria    42
1   Laura    40
2  Camila    37
    Nombre  Edad
0    Anita    42
1   Junito    40
2  Pedrito    37
  Nombre  Edad
0   Jose    42
1  Ramon    40
2    Leo    37

In [2]:
# union de las diferentes df

f = pd.DataFrame()

for i in range(4):
  tab = globals()[f'df1_{i}']
  f = pd.concat([f, tab])

print(f)

    Nombre  Edad
0    Maria    42
1    Laura    40
2   Camila    37
0     Jose    42
1    Ramon    40
2      Leo    37
0    Anita    42
1   Junito    40
2  Pedrito    37
0     Laly    42
1     Tika    40
2     Popi    37